---
import Anfrage from '../components/Anfrage';
import '../styles/global.css';
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Anfrage - Kostenloses Angebot f체r Facility Management | Mr.Clean Services</title>
    <meta name="description" content="Kostenloses und unverbindliches Angebot f체r Facility Management, Geb채udereinigung und Handwerk. Jetzt online anfragen - Antwort innerhalb 24 Stunden." />
    <meta name="keywords" content="Anfrage, Angebot, Facility Management, Geb채udereinigung, Handwerk, Kostenlos, Unverbindlich" />
    <link rel="canonical" href="https://mrclean-services.de/anfrage" />
  </head>
  <body>
    <Anfrage client:only="react" />
  </body>
</html>
