---
import PartnerWerden from '../components/PartnerWerden';
import '../styles/global.css';
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Partner werden - Werden Sie Teil unseres Netzwerks | Mr.Clean Services</title>
    <meta name="description" content="Werden Sie Partner von Mr.Clean Services: Langfristige Zusammenarbeit für Handwerksbetriebe, Reinigungsunternehmen und Dienstleister. Faire Konditionen und stabiles Auftragsvolumen." />
    <meta name="keywords" content="Partner werden, Partnernetzwerk, Handwerksbetrieb, Reinigungsunternehmen, Dienstleister, Zusammenarbeit" />
    <link rel="canonical" href="https://mrclean-services.de/partner-werden" />
  </head>
  <body>
    <PartnerWerden client:only="react" />
  </body>
</html>
